:root{

    --clr-pr-darkBlue :hsl(243, 87%, 12%) ;
    --clr-pr-Desaturated-blue: hsl(238, 22%, 44%);
    --clr-Bright-Blue: hsl(224, 93%, 58%);
    --clrModerate-Cyan: hsl(170, 45%, 43%);
    --clr-Light-Grayish-Blue: hsl(240, 75%, 98%);
    --clr-Light-Gray: hsl(0  0%  75%);


}
*{
    margin:0;
    padding:0;
}
header{
 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width:80px;
max-width:100px;

}
.logo img{
    max-width: 100%;
}
nav ul{
    padding:0;
    width:180px;

list-style: none;
display: flex;
justify-content: space-around;

}
nav a{
    text-decoration: none;
    text-transform: capitalize;
}

section{

    margin:5em auto;
    background-color: var( --clr-Light-Grayish-Blue);
}
.img{
    margin:2em 0;

}

.img img{
    max-width: 100%;
} 
.content{

    margin:1em 1em;
    text-align:center;
    line-height: 1.5;
}


.title{
    width:90%;
    margin:0 auto;

    color:hsl(243, 87%, 12%);
    font-size: 18px;
    font-weight: 700;
 
}
p{
    color:var(--clr-pr-Desaturated-blue);
}
.review-card{

    width:90%;
    margin:0 auto;

    background-color:white;
    text-align: left;
}
.prof-img{
    border:2px solid blue;
    width:60px;
}
.prof-img img{
    max-width:100%;
    border-radius: 50%;
}
.link{
    color:var(--clrModerate-Cyan);
    text-transform: capitalize;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

button{
    width:250px;
    max-width:250px;
    display:block;
    padding:0.7em 2.5em;
    margin:0.5em auto;
    outline:none;
    border:none;
    text-transform: capitalize;
    color:white;
    background-color: var(--clr-Bright-Blue);
}
input{
    width:180px;
    max-width:250px;
    display:block;
    padding:0.7em 2.5em;
    margin:0.5em auto;
    outline:none;
    border:1px solid var(--clr-pr-Desaturated-blue);

}
.s4{
    background-color: var(--clr-pr-Desaturated-blue);
    margin-bottom:0;
   
}
.s4 p{
    color:white;
}
.s4-title{
    font-weight: 500;
}
footer{   background-color:var(--clr-pr-darkBlue);
    padding:2em;
}


.social-links{
    color:white;
}




















@media(min-width:900px){
    .row{
        display: flex;
        margin:2em;
        border:2px solid red;
    }
}
